*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
			background-image: url('background.png');
			background-repeat: no-repeat;
			background-size: cover;
}
.slider{
        width: 300px;
        height: 700px;
        background-color: black;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        text-align: center;
        overflow: hidden;
      }
      .image-container {
        width: 500px;
        background-color: pink;
        height: 700px;
        clear: both;
        position: relative;
        -webkit-transition: left 2s;
        -moz-transition: left 2s;
        -o-transition: left 2s;
        transition: left 2s;
      }
      .slide {
        float: left;
        margin: 0px;
        padding: 0px;
        position: relative;
      }
      #slide-1:target ~ .image-container {
        left: 0px;
      }
      #slide-2:target ~ .image-container {
        left: -500px;
      }
      #slide-3:target ~ .image-container {
        left: -1000px;
      }
    .submit-btn{
	width: 10%;
	padding: 10px 20px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right,#ff105f,#ffad06);
	border: 0;
	outline: none;
	border-radius: 30px
}